* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#navlist{
    position: absolute;
    z-index: 1;
    width: 130px;
    height: 100%;
    border: 1px solid black;
    background-color: #353B48;
}

#navlist ul{
    list-style: none;
    width: 130px;   
}

#navlist li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #353B48;
    border-bottom: 1px solid white;
    height: 120px;
    color:white;
    font-size: 18px;
    cursor: pointer;
}

#navlist li:hover{
    background-color: #ECF0F1;
    /* color: #353B48; */
}

#navContents {
    height: 100%;
    width: 334px;
    position: absolute;
    left: 130px;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 7px grey inset, 0 0 7px dimgray;
}


#myMap {
    width: 100%;  
    height: 100vh;
    position:absolute;
    z-index : -1;
    padding-left: 464px;
  }
  

.nav {
    position: absolute;
    top: 5%;
    left: 85%;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}


.facility:hover > .category> ul > li {
    display: block;
}
.category {
    position: relative;
}
.category > ul {
    position: absolute;
}
.facility_info {
    list-style: none;
    display: none;
}

/*버스 InfoWindow 구성*/
.busContent{
    padding: 10px;
    height: 60px;
    width: 250px;
}
.busstop{
    font-weight: bolder;
}

.limit{
    font-size: 14px;
}