@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: InfinitySans-RegularA1;
}

#navlist{
    position: absolute;
    z-index: 1;
    width: 130px;
    height: 100%;
    border: 1px solid black;
    background-color: #353B48;
}

#navlist ul{
    list-style: none;
    width: 130px;   
}

#navlist li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #353B48;
    border-bottom: 1px solid white;
    height: 120px;
    color:white;
    font-size: 18px;
    cursor: pointer;
}

#navlist li:hover{
    background-color: #ECF0F1;
    /* color: #353B48; */
}

#navContents {
    height: 100%;
    width: 334px;
    position: absolute;
    left: 130px;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 7px grey inset, 0 0 7px dimgray;
}


#myMap {
    width: 100%;  
    height: 100vh;
    position:absolute;
    z-index : -1;
    padding-left: 464px;
  }
  

#float {
    position: absolute;
    top: 10%;
    left: 80%;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
.facility, .bus {
    width: 80px;
    height: 30px;
    border-radius: 5%;
    margin-left: 5px;
}
.categoryBtn, .busBtn {
    width: 80px;
    height: 30px;
    border-style: none;
    border-radius: 5%;
    background: white;
    box-shadow: 1px 2px 2px grey;
}
.categoryBtn {
    margin-bottom: 5px;
}
.categoryBtn:hover, .busBtn:hover {
    background: cornflowerblue;
    color: white;

}
.category {
    display: none;
}
.category .btn {
    width: 80px;
    height: 25px;
    margin-bottom: 2px;
    background: white;
    border: 1px solid black;
    border-radius: 2%;
}

/*버튼 아이콘*/
.facilityIcon {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 5px;
}

/*버스 InfoWindow 구성*/
.busContent{
    padding: 10px;
    height: 60px;
    width: 250px;
}
.busstop{
    font-weight: bolder;
}

.limit{
    font-size: 14px;
}