* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myMap {
    width: 100%;  
    height: 100vh;
    position:absolute;
    z-index : -1;
    padding-left: 464px;
  }
  

.nav {
    position: absolute;
    top: 5%;
    left: 85%;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}


.facility:hover > .category> ul > li {
    display: block;
}
.category {
    position: relative;
}
.category > ul {
    position: absolute;
}
.facility_info {
    list-style: none;
    display: none;
}

/*버스 InfoWindow 구성*/
.busContent{
    padding: 10px;
    height: 60px;
    width: 250px;
}
.busstop{
    font-weight: bolder;
}

