.navBar-wrapper{
    position: absolute;
    z-index: 2;
    width: 130px;
    height: 100%;
    display: flex;
    border: 1px solid black;
    background-color: #353B48;
}

.navBar-wrapper ul{
    list-style: none;
    width: 130px;   
}

.navBar-wrapper li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #353B48;
    border-bottom: 1px solid white;
    height: 120px;
    color:white;
    font-size: 22px;
    cursor: pointer;
    font-family: InfinitySans-RegularA1;
}

.navBar-wrapper li:hover{
    background-color: #ECF0F1;
    color: #353B48;
}

.navBar-contents{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 334px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 7px grey inset, 0 0 7px dimgray;
}
  
.show-menu{
width: 376px;
height: 100%;
position: absolute;
z-index: 1;
left: 130px;
transition: 1s;
}

.hide-menu{
width: 376px;
height: 100%;
position: absolute;
z-index: 1;
left: -246px;
transition: 1s;
}

.navCategory .btn {
    width: 80px;
    height: 25px;
    margin-bottom: 7px;
    background: white;
    border: 1px solid black;
    border-radius: 2%;
}
.navCategory .btn:hover {
    background: #ECF0F1;
}

.navCategory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper {
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
